@media screen and (max-width: 900px) {
    h1 {
        text-wrap: balance;
    }
    p {
        text-wrap: balance;
    }
    body{
        max-width: 90vw;
    }
}

@media screen and (max-width: 450px) {
    .image__wrapper {
        display: none;
    }
    body {
        min-width: 250px;
    }
}